
/*******************
** BASE
*******************/
html, body {
	width: 100%;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
}

button {
	&:hover {
		cursor: pointer;
	}
}
* {
	box-sizing: border-box;
}


/*******************
** LAYOUT
*******************/


/*******************
** MODULE
*******************/
.hide-display {
	display: none;
}
.hide-visibility {
	visibility: hidden;
}
.site-container {
	width:100%;
	max-width: $global-width;
	margin-left: auto;
	margin-right: auto;

	&--small {
		max-width: $global-width-small;
	}
}

.logo {
	width: 40px;
	height: 40px;
	padding: 4px;
	border-radius: 100%;
	box-shadow: 0 0 5px 0px rgba($medium-gray, 0.7);

	&:hover {
		box-shadow: 0 0 5px 0px rgba($primary-color, 0.8);
	}
}

.pointer-hover:hover {
	cursor: pointer;
}

.not-found {
	text-align: center;

	&__content {
		margin-top: $global-margin;
	}

	a {
		@include button;
	}
}
