@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon/icomoon.eot?av2b89');
  src:  url('/fonts/icomoon/icomoon.eot?av2b89#iefix') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf?av2b89') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?av2b89') format('woff'),
    url('/fonts/icomoon/icomoon.svg?av2b89#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
