@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon/icomoon.eot?y1i0aq');
  src:  url('/fonts/icomoon/icomoon.eot?y1i0aq#iefix') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf?y1i0aq') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?y1i0aq') format('woff'),
    url('/fonts/icomoon/icomoon.svg?y1i0aq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
