// 1. Custom Settings
// ------------------
$star-color: $warning-color;
$comment-color: $primary-color;
$post-margin: 0.1rem;
$post-radius: $global-radius;
$post-background: $white;
$post-background-hover: #f5f8fa;
$post-form-color: #e8f5fe;
$post-form-color-darker: #4ab3f4;
$post-input-font-size: 0.9rem;
